# Dependências
node_modules
dist
dist-ssr
*.local

# Logs e Cobertura
logs
*.log
coverage/

# Ambiente
.env
.env.development
.env.production
.env.test

# Editor e Sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?